.btn{
    padding: 10px 25px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid rgb(3,152,158);
    margin: 10px;
    color: rgb(3,152,158);
    font-weight: bold;
}


.btn:hover{
    background-color:rgb(3,152,158);
    transition: 1s;
    opacity: 1;
    color: black;

}